#customers {
  border-collapse: collapse;
  width: 100%;
  font-size: 10px;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
    border: 1px solid #ddd;
    padding: 8px;
    color: cadetblue;
    background: white;
  }

  .title{
    color: cadetblue;
    font-size: large;
    margin-top: 0;
    margin-bottom: 5px;
  }

  .header,
.footer {
    width: 100%;
    text-align: center;
    position: fixed;
}
.header {
    top: 0px;
}
.footer {
    bottom: 0px;
}
.pagenum:before {
    content: counter(page);
}

.f20{
    font-size: 20px;
}