<ion-header>
  <ion-toolbar>
    <ion-title>Preview</ion-title>

    <ion-buttons (click)="print()" slot=end>
      <ion-icon name="print-outline" style="font-size: 30px;margin-right: 10px;"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-margin" id="pdf">
    <div style="padding: 10px 0;" id="header">
      <div class="ion-text-center title f20">
        {{data?.title}}
      </div>
      <div>
        <p class="title">Company Name: <span style="color: black;">{{data?.name}}</span></p>

        <p class="title">Address: <span style="color: black;">{{data.address}}</span></p>

        <p class="title">Ref. Document No: <span style="color: black;">{{data?.docNo}}</span></p>
      </div>
    </div>


    <div *ngFor="let image of image;let i = index" class="img{{i}}">
      <p style="font-size: medium;;margin-bottom: 5px;    white-space: pre-line;" class="title" *ngIf=image?.dis>
        {{image?.dis.trim()}}
      </p>
      <div class="ion-text-center">
        <img [src]="image?.image" width="200" height="112">
      </div>
    </div>
  </div>
</ion-content>